<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400266413597-kj2nu73q19uh3bj2me7m1cf1lp6mnlh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400266413597-kj2nu73q19uh3bj2me7m1cf1lp6mnlh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCjg8PQ-uimN7t0pjXZmyvskBuSqNmqlPo</string>
	<key>GCM_SENDER_ID</key>
	<string>400266413597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat</string>
	<key>PROJECT_ID</key>
	<string>tharwat-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tharwat-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400266413597:ios:4abaf196b8f9035ab528f4</string>
</dict>
</plist>